<!doctype html>
<html lang="en">
  <head>
    <title>AInterviewer</title>
    <link rel="stylesheet" href="/static/css/dashboard.css" />
    {% include 'shared/head.html' %}
    <script>
      function rotateButton(button) {
        // Get the current rotation angle from the data attribute
        var currentRotation = parseInt(
          button.getAttribute("data-rotation-angle"),
          10,
        );

        // Calculate the new rotation angle
        var newRotation = currentRotation + 360; // Or any other angle you prefer

        // Apply the new rotation
        button.style.transform = "rotate(" + newRotation + "deg)";

        // Update the data attribute with the new rotation angle
        button.setAttribute("data-rotation-angle", newRotation);
      }
    </script>
  </head>
  <body>
    {% include 'shared/header.html' %} {% include 'shared/sidebar.html' %}
    <main>
      <div style="max-width: 80%">
        <div style="display: flex; align-items: end">
          <h2 class="underline-simple">Interviews</h2>
          <div class="btn-container">
            <button
              class="action-btn refresh"
              data-rotation-angle="0"
              onclick="rotateButton(this);getInterviews()"
            ></button>
          </div>
        </div>
        <table id="dashboard">
          <thead>
            <tr>
              <th>ID</th>
              <th>Message count</th>
              <th>User</th>
              <th>Assistant</th>
              <th>Created</th>
              <th>Updated</th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div>
    </main>
    <script>
      interview_id = 1;

      function getInterviews() {
        fetch("/ws/connections")
          .then((response) => response.json())
          .then((data) => {
            // TODO: Remove or unset connections no longer in the manager?
            console.log(data);
            if (Object.keys(data).length != 0) {
              interviews = Object.entries(data[`${interview_id}`]);
              // Remove interviews from table if they are not in interviews
              document
                .querySelectorAll("#dashboard tbody tr")
                .forEach((row) => {
                  if (
                    !interviews.some(
                      (interview) => interview[0] == row.id,
                    )
                  ) {
                    console.log("Removing row", row);
                    // row.remove();
                  }
                });

              interviews.forEach((interview) => {
                addRow(interview);
              });
            } else {
              document.querySelector("#dashboard tbody").innerHTML = "";
            }
          });
      }

      function connectToInterview(element) {
        interview_id = element.parentElement.parentElement.id;
        url = `/ws/connect/${interview_id}/${interview_id}`;
        // open url in new tab
        window.open(url, "_blank").focus();
      }

      function addRow(interview) {
        const table = document.querySelector("#dashboard tbody");
        const [interviewId, [messageCount, participants]] = interview;

        const existingRow = table.querySelector(`tr[id="${interviewId}"]`);

        if (existingRow) {
          updateExistingRow(existingRow, messageCount, participants);
        } else {
          createNewRow(table, interviewId, messageCount, participants);
        }
      }

      function updateExistingRow(row, messageCount, participants) {
        row.cells[1].textContent = messageCount;
        row.cells[2].innerHTML = createStatusHTML("user", participants);
        row.cells[3].innerHTML = createStatusHTML("assistant", participants);
      }

      function createNewRow(table, interviewId, messageCount, participants) {
        const row = table.insertRow(-1);
        row.id = interviewId;

        const cells = [
          { content: interviewId },
          { content: messageCount },
          { content: createStatusHTML("user", participants) },
          { content: createStatusHTML("assistant", participants) },
        ];

        cells.forEach((cell) => {
          const newCell = row.insertCell();
          newCell.innerHTML = cell.content;
        });
      }

      function createStatusHTML(role, participants) {
        const isActive = participants.includes(role);
        const status = isActive ? "active" : "inactive";
        let html = `<span class="status ${status}">${status}</span>`;

        if (role === "assistant" && !isActive) {
          html += '<button onclick="connectToInterview(this)">join</button>';
        }

        return html;
      }

      getInterviews();
    </script>
  </body>
</html>
