.section {
	display: flex;
	padding-top: 50px;
	margin: 0px 100px;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	column-gap: 160px; /* Added gap for spacing between flex items */
	box-sizing: border-box;
}

.section > div {
	flex: 1; /* Allows the divs to grow and shrink as needed */
	min-width: 450px; /* Minimum width to prevent elements from becoming too narrow */
	max-width: 600px; /* Maximum width to prevent elements from becoming too wide */
	padding: 40px 10px; /* Reduced padding for a more compact look */
	box-sizing: border-box; /* Ensures padding is included in the width */
}

.section > div:nth-child(2) {
	text-align: center;
}

.section > div > img {
	max-width: 100%;
	height: auto; /* Ensures the image scales proportionally */
	border: none;
	border-radius: 5px;
}

button {
	display: flex;
	gap: 5px;
	align-items: center;
}

/* Example media query for screens smaller than 768px */
@media (max-width: 600px) {
	.section {
		margin: 0 40px; /* Reducing horizontal margin on smaller screens */
		gap: 30px; /* Smaller gap on smaller screens */
	}

	.section > div {
		padding: 20px 5px;
		min-width: 250px; /* Minimum width to prevent elements from becoming too narrow */
	}
}
