<html>
  <head>
    <title>AInterviewer</title>
    <link rel="stylesheet" href="/static/css/dashboard.css" />
    <link rel="stylesheet" href="/static/css/guide.css" />
    <style>
      .container {
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;
        font-family:
          system-ui,
          -apple-system,
          sans-serif;
      }

      .section {
        margin-bottom: 24px;
      }

      input {
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
        flex: 1;
      }

      input[type="number"] {
        width: 70px;
        flex: initial;
      }

      button {
        padding: 8px 16px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 5px;
      }

      h3 {
        color: #333;
        margin-bottom: 20px;
      }

      h4 {
        color: #666;
        margin-bottom: 10px;
      }

      select {
        background: white;
        border: 1px solid lightgray;
        border-radius: 5px;
        padding: 5px 8px;
      }
      select:hover,
      select:active {
        background: #f9f9f9;
      }
    </style>
    {% include 'shared/head.html' %}
  </head>
  <body>
    {% include 'shared/header.html' %} {% include 'shared/sidebar_sub.html' %}
    <main>
      <div style="width: 80%; max-width: 1000px">
        <h2 class="underline-simple">Run</h2>
        <p>
          Run a number of synthetic interviews to test your interview guide and
          configuration.
        </p>
        <h3>Settings</h3>
        <div class="section">
          <h4>Number of synthetic interviews</h4>
          <input type="number" id="nInterviews" value="{{ n_interviews }}" min="1" max="5" />
        </div>
        <div class="section">
          <h4>Delay before answers</h4>
          <div>
            <label for="delayBeforeAnswers">
              Delay before the agent answers each question: </label
            ><br />
            <input
              type="number"
              id="delayBeforeAnswers"
              min="0"
              style="margin-top: 6px"
              value="{{ delay_before_answers[0] }}"
            />
            <span>seconds</span>
          </div>
          <br />
          <div>
            <label for="delayBeforeAnswersRandom">
              Random variation in the delay before the agent answers each
              question: </label
            ><br />
            <input
              type="number"
              id="delayBeforeAnswersRandom"
              min="0"
              style="margin-top: 6px"
              value="{{ delay_before_answers[1] }}"
            /><span>seconds</span>
          </div>
        </div>
        <div class="section">
          {% if models %}
          <h4>Language model</h4>
          <select class="agent-model">
            {% for model_option in models %}
            <option
              value="{{ model_option }}"
              {{ "selected" if model_option==model else "" }}
            >
              {{ model_option }}
            </option>
            {% endfor %}
          </select>
          {% endif %}
        </div>
        <div class="section">
          <h4>Interview language</h4>
          <select id="interviewLanguage">
            {% for language_option in languages %}
            <option
              value="{{ language_option.code }}"
              {{ "selected" if language_option.code==language else "" }}
            >
              {{ language_option.name }}
            </option>
            {% endfor %}
          </select>
        </div>
        <button onclick="runTest()" style="margin-top: 20px">Run test</button>
        <table>
          <colgroup>
            <col style="width: 50px" />
            <col style="width: 120px" />
            <col style="width: 120px" />
            <col />
            <col />
            <col />
            <col />
            <col style="width: 50px" />
          </colgroup>
          <thead>
            <tr>
              <th></th>
              <th>Created</th>
              <th>Language</th>
              <th>N interviews</th>
              <th>Question model</th>
              <th>Answering model</th>
              <th>Status</th>
              <th></th>
            </tr>
          </thead>
          <tbody id="testRuns"></tbody>
        </table>
      </div>
    </main>
    <template id="tablerow">
      <tr>
        <td><input type="checkbox" /></td>
        <td class="created-at"></td>
        <td class="language"></td>
        <td class="n-interviews"></td>
        <td class="question-model"></td>
        <td class="answering-model"></td>
        <td class="status-cell"><span></span></td>
        <td></td>
      </tr>
    </template>
    <script>
      const project_id = Cookies.get("project_id");
      const test_id = Cookies.get("test_id");

      if (!test_id) {
        window.location.href = "/dashboard/projects/tests";
      }

      function getTestRunStatus() {
        return fetch(`/api/projects/${project_id}/tests/${test_id}/status`, {
          method: "GET",
          headers: {
            "Content-Type": "application/json",
          },
        }).then((response) => response.json());
      }

      function form2data() {
        const nInterviews = document.getElementById("nInterviews").value;
        const languageModel = document.querySelector(".agent-model")?.value;
        const language = document.getElementById("interviewLanguage").value;

        let delayBeforeAnswers =
          document.getElementById("delayBeforeAnswers").value;

        if (delayBeforeAnswers === "") {
          delayBeforeAnswers = null;
        } else {
          delayBeforeAnswers = parseInt(delayBeforeAnswers);

          let delayBeforeAnswersRandom = document.getElementById(
            "delayBeforeAnswersRandom",
          ).value;
          if (delayBeforeAnswersRandom === "") {
            delayBeforeAnswers = [delayBeforeAnswers, 0];
          } else {
            delayBeforeAnswersRandom = parseInt(delayBeforeAnswersRandom);
            if (delayBeforeAnswers < delayBeforeAnswersRandom) {
              alert("The random delay cannot be greater than the base delay.");
              return;
            } else {
              delayBeforeAnswers = [ delayBeforeAnswers,  delayBeforeAnswersRandom ];
            }
          }
        }
        return {
          n_interviews: nInterviews,
          answering_model: languageModel,
          language: language,
          delay_before_answers: delayBeforeAnswers,
        };
      }

      function runTest() {
        data = form2data();
        if (data === undefined) {
          return;
        }

        return fetch(`/api/projects/${project_id}/tests/${test_id}/run`, {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify(data),
        }).then(() => {
          updateTestRunsTable();
        });
      }

      function formatDate(dateString) {
        const date = new Date(dateString);
        return date.toLocaleString();
      }

      function getStatusClass(status) {
        switch (status) {
          case "running":
            return ["status", "running"];
          case "completed":
            return ["status", "complete"];
          case "failed":
            return ["status", "failed"];
          default:
            return "";
        }
      }

      function updateTestRunsTable() {
        getTestRunStatus().then((data) => {
          const tableBody = document.getElementById("testRuns");
          tableBody.innerHTML = ""; // Clear existing rows

          data.forEach((testRun) => {
            const template = document.getElementById("tablerow");
            const clone = template.content.cloneNode(true);

            clone.querySelector(".created-at").textContent = formatDate(
              testRun.created_at,
            );
            clone.querySelector(".language").textContent = testRun.language;
            clone.querySelector(".n-interviews").textContent =
              testRun.n_interviews;
            clone.querySelector(".answering-model").textContent =
              testRun.answering_model;

            const statusElement = clone.querySelector("td.status-cell > span");
            statusElement.textContent = testRun.status;
            statusElement.classList.add(...getStatusClass(testRun.status));

            // clone.querySelector(".action-button").dataset.id = testRun.id;
            // clone
            //   .querySelector(".action-button")
            //   .addEventListener("click", () => {
            //     window.location.href = `/projects/${project_id}/tests/${test_id}/runs/${testRun.id}`;
            //   });

            tableBody.appendChild(clone);
          });
        });
      }

      // Initial loading of the table
      document.addEventListener("DOMContentLoaded", updateTestRunsTable);

      // Refresh the table every 10 seconds
      setInterval(() => {
        if (document.querySelector("td.status-cell > span.status.running")) {
          updateTestRunsTable();
        }
      }, 10000);
    </script>
  </body>
</html>
