<!doctype html>
<html lang="en">
	<head>
		<title>AInterviewer</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" href="/static/img/favicon.svg" type="image/svg+xml" />
		<link rel="stylesheet" href="/static/css/style.css" />
		<!-- 3rd party resources -->
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link href="https://fonts.googleapis.com/css2?family=Roboto+Slab" rel="stylesheet" />
		<style>
			h3 {
				text-align: center;
			}
		</style>
	</head>
	<body>
		<div>
			<h1 class="underline-red underline">404 page not found</h1>
			<br />
			<h3>Sorry, the page you are looking for could not be found :(</h3>
		</div>
	</body>
</html>
