<!doctype html>
<html lang="en">
	<head>
		<title>AInterviewer</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" href="/static/img/favicon.svg" type="image/svg+xml" />
		<link rel="stylesheet" href="/static/css/style.css" />
		<!-- 3rd party resources -->
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link href="https://fonts.googleapis.com/css2?family=Roboto+Slab" rel="stylesheet" />
		<style>
			main {
				max-width: 80%;
				margin: auto;
			}

			h3 {
				text-align: center;
			}

			main p {
				width: fit-content;
				margin: auto;
			}
		</style>
	</head>
	<body>
		<main>
			<h1 class="underline-red underline">An error occured</h1>
			<br />
			<h3>{{ error_sub_heading }}</h3>
			<p>{{ error_description }}</p>
			<br />
			<p style="width: fit-content; margin: auto">
				<br />
				We are not quite sure how you end up here. But please make sure that you followed the exact
				link you were sent.
			</p>
			<br />
			<p>If the error persists please contact the entity who distributed the link.</p>
		</main>
	</body>
</html>
