<!doctype html>
<html lang="en">
	<head>
		<title>AInterviewer</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" href="/static/img/favicon.svg" type="image/svg+xml" />
		<link rel="stylesheet" href="/static/css/style.css" />
		<!-- 3rd party resources -->
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link href="https://fonts.googleapis.com/css2?family=Roboto+Slab" rel="stylesheet" />
		<style>
			main {
				max-width: 80%;
				margin: auto;
			}

			h1 {
				margin-top: 20rem;
			}

			h3 {
				text-align: center;
			}

			main p {
				width: fit-content;
				margin: auto;
			}
		</style>
	</head>
	<body>
		<main>
			<h1 class="underline-red underline">The interview is currently inactive</h1>
			<br />
			<p style="width: fit-content; margin: auto">
				<br />
				The interview is currently inactive, because the data collection period has ended or been
				paused.
			</p>
			<br />
			<p>Please contact the entity who distributed the link, if you think this is a mistake.</p>
		</main>
	</body>
</html>
