<!DOCTYPE html>
<html>
    <head>
        <title>AInterviewer</title>
        <meta charset="utf-8" />
        <meta name="viewport"
              content="width=device-width, initial-scale=1, maximum-scale=1" />
        <link rel="icon" href="/static/img/favicon.svg" type="image/svg+xml" />
        <link rel="stylesheet" href="/static/css/interview.css" />
        <link rel="stylesheet" href="/static/css/modal.css" />
        <link rel="stylesheet" href="/static/css/style.css" />
        <link rel="stylesheet" href="/static/css/header.css" />
        <link rel="stylesheet" href="/static/css/sidebar.css" />
        <script src="/static/js/script.js"></script>
        <!-- 3rd party resources -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link rel="stylesheet"
              href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" />
        <link rel="stylesheet"
              href="https://use.fontawesome.com/releases/v6.7.0/css/all.css" />
        <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
        <script src="https://unpkg.com/htmx.org@2.0.4"></script>
        <!-- Components  -->
        <script src="/static/components/gradient-progress-bar.js"></script>
        <script src="/static/components/interview-message.js"></script>
        <script src="/static/components/feedback-toggle.js"></script>
        <script src="/static/components/skip-button.js"></script>
        <script src="/static/components/survey-item.js"></script>
        <script>
      entries = performance.getEntriesByType("navigation");
      entries.forEach((entry) => {
        if (entry.type === "back_forward") {
          location.reload(true)
        }
      });
        </script>
    </head>
    <body>
        <div id="interview-container">
            <h1 class="underline-main">AInterviewer {{ id }}</h1>
            <div id="chat-container">
                <div id="messages"></div>
                <form action=""
                      onsubmit="chatClient.chatUI.sendMessage(event)"
                      id="message-form">
                    <div style="display: flex; flex-direction: column; gap: 7px">
                        {% if image_upload %}
                            <button onclick="chatClient.chatUI.openCamera(event)"
                                    disabled="true"
                                    class="small-button"
                                    title="Upload image">
                                <i class="fa-regular fa-image"></i>
                            </button>
                            <!-- FIXME: When image is disabled sending a message returns an error -->
                        {% endif %}
                        <button id="help"
                                onclick="showHelp(event)"
                                class="small-button"
                                title="Show help">
                            <i class="fa-regular fa-circle-question"></i>
                        </button>
                        <button id="exit"
                                onclick="showExit(event)"
                                class="small-button"
                                title="End interview">
                            <i class="fa-solid fa-door-open"></i>
                        </button>
                    </div>
                    <!-- NOTE: Should focusing the textarea scroll to the bottom of the questions? -->
                    <textarea disabled="true"
                              type="text"
                              id="message-text"
                              autocomplete="off"
                              placeholder="Message"
                              oninput="onInput(this)"
                              lang="{{ lang }}"></textarea>
                    {% if image_upload %}
                        <div style="position: relative; display: inline-block">
                            <img id="image-preview"
                                 alt="Image preview"
                                 style="max-height: 60px;
                                        display: block" />
                            <div id="remove-image" onclick="chatClient.chatUI.removeImage()"></div>
                        </div>
                    {% endif %}
                    <div>
                        <button disabled="true" title="Send message" id="send-message">Send</button>
                        <div class="send-tooltip">
                            <span class="os-aware-default">ctrl</span><span class="os-aware-mac">cmd</span>+<span style="font-size: 1.2em;
             font-weight: bold;
             transform: scaleY(1.3);
             display: inline-block">↵</span>
                        </div>
                    </div>
                </form>
                <gradient-progress-bar id="progress-bar" width="25rem"></gradient-progress-bar>
            </div>
        </div>
        {% if image_upload == "camera" %}
            <input type="file"
                   id="camera-input"
                   accept="image/*"
                   capture="environment"
                   style="display: none"
                   onchange="handleFiles(this.files)" />
        {% elif image_upload %}
            <input type="file"
                   id="image-input"
                   accept="image/*"
                   style="display: none"
                   onchange="handleFiles(this.files)" />
        {% endif %}
        {% if new_interview %}
            <!-- Modals to start a new interview  -->
            {% if languages %}
                <!-- NOTE:
                      If language picking is needed, start that route. The LanguageModal component will
                      return the appropiate ConsetModal and WelcomeModal components
                      based on the language selected.
                -->
                <LanguageModal project_id={{ project_id }} languages={{ languages }}></LanguageModal>
            {% else %}
                <!-- Else (ie. if only one language is available, or the language has been set beforehand) use predefined components -->
                {% if consent %}
                    <ConsentModal project_id={{ project_id }} consent={{ consent }} display_modal>
                    </ConsentModal>
                {% endif %}
            {% endif %}
        {% endif %}
        <div id="help-modal" class="modal">
            <div class="modal-content">
                <span class="close"
                      onclick="document.getElementById('help-modal').style.display = 'none'">&times;</span>
                <h2>{{ help_title }}</h2>
                <div>{{ help_text | safe }}</div>
            </div>
        </div>
        <div id="exit-modal" class="modal">
            <div class="modal-content">
                <span class="close"
                      onclick="document.getElementById('exit-modal').style.display = 'none'">&times;</span>
                <h2>{{ exit_title }}</h2>
                <div>{{ exit_text | safe }}</div>
                <!-- TODO: Insert input element where people can give their reason for ending the interview if they wish -->
                <button onclick="exitInterview()">{{ exit_button | safe }}</button>
            </div>
        </div>
        <div style="display: none">
            <form id="leave-warning-form">
                <input type="text" id="leave-warning-input" value="true" />
            </form>
        </div>
        <script src="/static/js/utils.js"></script>
        <script>
            {% if new_interview and not consent %}
            document.addEventListener("DOMContentLoaded", async function() {
              try {
                const response = await fetch('/api/projects/{{ project_id }}/interviews', {
                  method: 'POST',
                  headers: {
                    'Content-Type': 'application/json',
                  }
                });
                
                if (response.ok) {
                  await htmx.ajax('POST', '/api/projects/{{ project_id }}/welcome/render', {target: 'body', swap: 'beforeend'});
                  document.getElementById("welcome-modal").style.display = "block";
                }
              } catch (error) {
                console.error('Error creating interview:', error);
              }
            })
            {% endif %}

            window.onpageshow = function(event) {
                if (event.persisted) {
                    window.location.reload();
                }
            };

            {% if not new_interview %}_start_interview();{% endif %}

            function onInput(e) {
              if (e.scrollHeight > 80)  {
                e.style.height="";
                e.style.height = e.scrollHeight - 20 + "px"; // 20 is the padding
              }
            }

            function selectLanguage(lang) {

            }

            function startInterview(e) {
              e.preventDefault();
              document.getElementById("welcome-modal").style.display = "none";
              window.addEventListener("beforeunload", beforeUnloadHandler);
              _start_interview();
            }

            function _start_interview() {
              lang = Cookies.get("language");

              chatClient = new ChatClient(
                  "/ws/ai",
                  "respondent",
                  lang
              )

              chatClient.connect();
            }
        </script>
    </body>
</html>
