/* Footer  */

footer {
  padding: 20px 0;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  margin: 0 260px;
}

.footer-section:first-child {
  flex: 1;
}
.footer-section {
  flex: 0.5;
}
.footer-section h4 {
  margin-bottom: 10px;
}

.footer-section ul {
  list-style: none;
  padding-left: 0;
}

.footer-section ul li {
  padding-top: 5px;
}
.footer-section ul li a {
  color: #ccc;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-section ul li a:hover {
  color: black;
}

.social-media-links {
  display: flex;
}

.social-media-links li {
  margin: 0 10px;
}
.social-media-links li:first-child {
  margin-left: 0;
}

.footer-bottom {
  text-align: center;
  padding-top: 10px;
}

.footer-bottom p {
  margin: 0;
  font-size: 14px;
}
/* Additional responsive styles if required */
