<!DOCTYPE html>
<html>
    <head>
        <title>AInterviewer</title>
        <meta charset="utf-8" />
        <meta name="viewport"
              content="width=device-width, initial-scale=1, maximum-scale=1" />
        <link rel="icon" href="/static/img/favicon.svg" type="image/svg+xml" />
        <link rel="stylesheet" href="/static/css/interview.css" />
        <link rel="stylesheet" href="/static/css/modal.css" />
        <link rel="stylesheet" href="/static/css/style.css" />
        <link rel="stylesheet" href="/static/css/header.css" />
        <link rel="stylesheet" href="/static/css/sidebar.css" />
        <script src="/static/js/script.js"></script>
        <!-- 3rd party resources -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link rel="stylesheet"
              href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" />
        <link rel="stylesheet"
              href="https://use.fontawesome.com/releases/v6.7.0/css/all.css" />
        <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
        <script src="https://unpkg.com/htmx.org@2.0.4"></script>
        <!-- Components -->
        <script src="/static/components/gradient-progress-bar.js"></script>
        <script src="/static/components/interview-message.js"></script>
        <script src="/static/components/feedback-toggle.js"></script>
        <script src="/static/components/skip-button.js"></script>
        <script src="/static/components/survey-item.js"></script>
    </head>
    <body>
        <div id="interview-container">
            <h1 class="underline-main">AInterviewer {{ id }}</h1>
            <div id="chat-container">
                <div id="messages">
                    {% for msg in messages %}
                        <interview-message
                            text="{{ msg.content | e }}"
                            type="{{ 'sent' if msg.role == 'user' else 'received' }}"
                            message-id="{{ msg.message_id }}"
                            {% if msg.feedback is not none %}feedback="{{ msg.feedback }}" {% endif %}
                            lang="en"
                        ></interview-message>
                    {% endfor %}
                </div>
            </div>
        </div>
        <script src="/static/js/utils.js"></script>
    </body>
</html>
